version: '3'
services:
  
    property_db:
      image: postgres:14
      environment:
        POSTGRES_DB: service_property
        POSTGRES_USER: ant
        POSTGRES_PASSWORD: secret
      command: postgres -c shared_buffers=256MB -c max_connections=200
      ports:
        - 5437:5432


    migrate:
      build: .

      depends_on:
        - property_db
      environment:
        - LOG_LEVEL=debug
        - DO_MIGRATION=true
        - DATABASE_URL=postgres://ant:secret@property_db:5432/service_property?sslmode=disable
      restart: on-failure


    